# Dependency directories
node_modules/

# IDE related
.idea

# Test coverage
coverage
*.lcov

packages/ripple-vscode-plugin/*.vsix
playground/src

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# build output
.vercel

# OS-specific
.DS_Store

# VS Code settings
.vscode/

# Chrome Debugger
.chrome-debug-profile/

tmp
dist
debug

# Temporary folders
tmp/
temp/