{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 100,
	"plugins": ["./packages/prettier-plugin-ripple/src/index.js"],
	"overrides": [
		{
			"files": ["*.ripple"],
			"options": {
				"bracketSameLine": false,
				"parser": "ripple"
			}
		},
		{
			"files": ["README.md", "packages/*/README.md", "**/package.json"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
