{
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"printWidth": 100,
	"plugins": ["prettier-plugin-ripple"],
	"overrides": [
		{
			"files": ["*.ripple"],
			"options": {
				"bracketSameLine": false,
				"parser": "ripple"
			}
		},
		{
			"files": ["**/*.md", "**/*.json"],
			"options": {
				"useTabs": false
			}
		}
	]
}
