{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 100,
	"plugins": ["prettier-plugin-ripple"],
	"overrides": [
		{
			"files": ["*.ripple"],
			"options": {
				"bracketSameLine": false,
				"parser": "ripple"
			}
		},
		{
			"files": ["README.md", "packages/*/README.md", "**/package.json" , "**/*.js"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
