.VPNavBarTitle {
	font-family: 'Recursive';

	.title {
		font-size: 2rem;
	}
}

.VPContent {
	margin-top: -20px !important;
}

body:has(.main-playground) {
	overflow: hidden;
}

@media (max-height: 500px) {
	body:has(.main-playground) {
		overflow: auto; /* avoid hiding the lower part of playground on mobile (landscape) */
	}

	.VPHome:has(.main-playground) {
		margin-bottom: 0 !important;
	}
}

.VPHome .container:has(.main-playground) {
	padding: 0 !important;
	max-width: unset !important;
}
